# Created by .ignore support plugin (hsz.mobi)
### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Flask stuff:
instance/
.webassets-cache

# Environments
.env
.venv
env/
venv/

# Other things
.DS_Store
.idea

# Do not allow vouch config to be checked in with secrets
vouch/config
